extends layout

block content
  div.col-md-offset-2.col-md-6
    form.form-signin(action="/savesecurity", method="post")
      h2 Security settings
      h3 Delay by user based on the number of retries
      div.form-group
        label(for="maxlogintry")
        | Max login try
        input(id="maxlogintry", type="text", name="maxLoginTry", placeholder="Max login try", value="#{security.maxLoginTry}")
      div.form-group
        label(for="maxeresettrytime")
        | Max reset try time minutes
        input(id="maxeresettrytime", type="text", name="maxResetTryTime", placeholder="Max reset try time (minutes)", value="#{security.maxResetTryTime}")
      div.form-group
        .checkbox
        input(id="blockSecondMaxLogin", type="checkbox", name="checkbox", checked="#{security.blockSecondMaxLogin}")
        label(for"blockSecondMaxLogin")
        |  Blocking access following a reaching the second number maximum attempts
      h3 Password management
      input(type="radio", name="reset_password_type", value="1")
      |   Periodically   
      input(type="radio", name="reset_password_type", value="0")
      |   Event
      div.form-group
        input(type="text", name="maxTimeSamePassword", placeholder="Max time same password (days)")
      h3 Policy configurable password
      div.form-group
        input(type="text", name="passwordComplexityRegex", placeholder="Password complexity regex")
      div.form-group
        input(type="text", name="cantUseLastNumberPassword", placeholder="Number of last passwords cant use")
      button.btn.btn-default(type="submit") Save
