extends layout

block content
  div.col-md-offset-4.col-md-4
    if isAuthenticated
      form.form-signin(action="/login/changePassword", method="post")
        h2.form-signin-heading Change Password
        div.form-group
          input(type="password", name="oldPassowrd", placeholder="Password")
        div.form-group
          input(type="password", name="newPassword", placeholder="New Password")
        div.form-group
          input(type="password", name="password", placeholder="Confirm your new password")  
        button.btn.btn-default(type="submit") Ok

