doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href="/") GTI619
        if isAuthenticated
          ul.nav.navbar-nav.navbar-left
            li
              a(href="/login/changePassword") Change your Password
            li
              a(href="/login/logout") Logout #{username}
          ul.nav.navbar-nav.navbar-right
            if user.hasRole('admin')
              li
                a(href="/admin") Admin
            if user.hasRole('carre')
              li
                a(href="/carre") Carre
            if user.hasRole('rond')    
              li
                a(href="/rond") Rond                        
    div.container.row
      block content
