doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href="/") GTI619
        if isAuthenticated
          ul.nav.navbar-nav.navbar-left
            li
            a(href="/login/logout") Logout
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/admin") Admin
          li
            a(href="/carre") Carre
          li
            a(href="/rond") Rond                        
    block content
